@model List<ResultSendMessageDto>
@{
    ViewData["Title"] = "SendBox";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-body">
                <div class="email-left-box">
                    <a href="/AdminContact/AddSendMessage" class="btn btn-primary btn-block">Yeni Mesaj</a>
                    <div class="mail-list mt-4">
                        <a href="/AdminContact/Inbox" class="list-group-item border-0 text-primary p-r-0"><i class="fa fa-inbox font-18 align-middle mr-2"></i> <b>Gelen Kutusu</b> <span class="badge badge-primary badge-sm float-right m-t-5">@ViewBag.ContactCount</span> </a>

                        <a href="/AdminContact/SendBox" class="list-group-item border-0 text-info p-r-0"><i class="fa fa-paper-plane font-18 align-middle mr-2"></i><b>Gönderilenler</b><span class="badge badge-info badge-sm float-right m-t-5">@ViewBag.SendMessageCount</span></a>

                        <a href="#" class="list-group-item text-danger border-0 p-r-0"><i class="fa fa-star-o font-18 align-middle mr-2"></i><b>Önemli</b> <span class="badge badge-danger badge-sm float-right m-t-5">4</span> </a>

                        <a href="#" class="list-group-item text-warning border-0 p-r-0"><i class="mdi mdi-file-document-box font-18 align-middle mr-2"></i><b>Taslaklar</b><span class="badge badge-warning badge-sm float-right m-t-5">2</span></a>

                        <a href="#" class="list-group-item text-dark border-0 p-r-0">
                            <i class="fa fa-trash font-18 align-middle mr-2"></i>
                            <b>Çöp Kutusu</b><span class="badge badge-dark badge-sm float-right m-t-5">2</span>
                        </a>
                    </div>
                    @await Html.PartialAsync("SideBarAdminContactCategoryPartial")
                </div>
                <div class="email-right-box">
                    <div role="toolbar" class="toolbar">
                        <div class="btn-group">
                            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-dark dropdown-toggle" type="button">
                                Giden Mesajlar <span class="caret m-l-5"></span>
                            </button>
                        </div>
                    </div>
                    <div class="email-list m-t-15">
                        @foreach (var item in Model)
                        {
                            <div class="message">
                                <a href="/AdminContact/SendboxMessageDetails/@item.Id">
                                    <div class="col-mail col-mail-1">
                                        <div class="email-checkbox">
                                            <input type="checkbox" id="chk2">
                                            <label class="toggle" for="chk2"></label>
                                        </div><span class="star-toggle ti-star"></span>
                                    </div>
                                    <div class="col-mail col-mail-2">
                                        <div class="subject"><b>Konu: @item.Title</b> Alıcı: @item.Receiver</div>
                                        <div class="date">@item.Date.ToShortDateString()</div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                    <!-- panel -->
                    <div class="row">
                        <div class="col-7">
                            <div class="text-left">1 - 20 of 568</div>
                        </div>
                        <div class="col-5">
                            <div class="btn-group float-right">
                                <button class="btn btn-gradient" type="button">
                                    <i class="fa fa-angle-left"></i>
                                </button>
                                <button class="btn btn-dark" type="button">
                                    <i class="fa fa-angle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

