
@model SendboxMessageDetailDto

@{
    ViewData["Title"] = "SendboxMessageDetails";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="read-content">
    <div class="media pt-5">
        <img class="mr-3 rounded-circle" src="~/adminweb/images/avatar/1.jpg">
        <div class="media-body">
            <h5 class="m-b-3">@Model.Receiver</h5>
            <p class="m-b-2">@Model.Date</p>
        </div>

    </div>
    <hr>
    <div class="media mb-4 mt-1">
        <div class="media-body">
            <span class="float-right">@Model.Date</span>
            <h4 class="m-0 text-primary">@Model.Title</h4><small class="text-muted">To:@Model.ReceiverMail</small>
        </div>
    </div>
    <p>
        @Model.Content
    </p>
</div>

